@font-face {
    font-family: "OpenSans";
    font-weight: 400;
    src: url(/src/assets/fonts/OpenSans.ttf) format("truetype");
}

@font-face {
    font-family: "OpenSans";
    font-weight: 300;
    src: url(/src/assets/fonts/OpenSans.ttf) format("truetype");
}

@font-face {
    font-family: "OpenSans";
    font-weight: 300;
    font-style: italic;
    src: url(/src/assets/fonts/OpenSans.ttf) format("truetype")
}

@font-face {
    font-family: "Fontin";
    font-weight: 400;
    src: url(/src/assets/font/Fontin_Sans_SC_45b.otf) format("opentype")
}

@font-face {
    font-family: "Oliver";
    font-weight: 400;
    src: url(/src/assets/font/Oliver-Regular.ttf) format("truetype")
}

@font-face {
    font-family: "Lora";
    font-weight: 300;
    src: url(/src/assets/font/Lora.ttf)
    format("truetype")
}

@font-face {
    font-family: "Lora-Italic";
    font-weight: 300;
    font-style: italic;
    src: url(/src/assets/font/Lora-Italic.ttf)
    format("truetype")
}

@font-face {
    font-family: "Playfair";
    font-weight: 400;
    src: url(/src/assets/font/PlayfairDisplay-Italic-VariableFont_wght.ttf)
    format("truetype")
}

@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: url(/src/assets/font/Montserrat.ttf)
    format("truetype")
}