$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$white-linen: #f1eae0;
$desert-orange: #a36443;
$title-color: #3B2F2F;
$text: #4B3621;
$pot-pourri: #efdcd1;
$jaffa: #dc8150;
$gold: #d1af6c;
$coriander: #C9CFAF;
$red-cancel: #c14438;

$box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

